<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="christopher_fontana.noassemblyrequiredcfontana">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Selection"
            android:label="@string/title_activity_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Bicycle"
            android:label="@string/title_activity_bicycle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dresser"
            android:label="@string/title_activity_dresser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Patio"
            android:label="@string/title_activity_patio"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>